<nav>
  <% if component_handler.allow_post_type?('article') %>
    <%=
      link_to(
          t('my.posts.new_article.nav_text'),
          my_new_article_path,
          class: 'button-nav'
      )
    %>
  <% end %>
  <% if component_handler.allow_post_type?('news') %>
    <%=
      link_to(
          t('my.posts.new_news.nav_text'),
          my_new_news_path,
          class: 'button-nav'
      )
    %>
  <% end %>
  <% if component_handler.allow_post_type?('blog_post') %>
      <%=
        link_to(
            t('my.posts.new_blog_post.nav_text'),
            my_new_blog_post_path,
            class: 'button-nav'
        )
      %>
  <% end %>
</nav>
