<% if collection.any? %>
  <div class="list-of-posts">
    <% collection.each do |entity| %>
      <%= render partial: 'my/posts/preview', locals: { entity: entity } %>
    <% end %>
  </div>
<% else %>
  <%= render 'shared/nothing_found' %>
<% end %>
