<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :alternate_links do %>
  <link rel="alternate" type="application/rss+xml" href="<%= rss_posts_path %>" />
<% end %>
<% content_for :breadcrumbs do %>
    <span><%= t('articles.index.nav_text') %></span>
<% end %>

<%=
  render(
      partial: 'posts/post_type/posts',
      locals: {
          heading: t('.heading'),
          collection: @collection
      }
  )
%>
