<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :breadcrumbs do %>
    <span><%= t('blog_posts.index.nav_text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <%= render partial: 'posts/collection', locals: { collection: @collection } %>
</article>
