<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :alternate_links do %>
  <link rel="alternate" type="application/rss+xml" href="<%= rss_posts_path %>" />
<% end %>
<% content_for :breadcrumbs do %>
  <span><%= t('blog_posts.index.nav_text') %></span>
<% end %>

<%=
  render(
      partial: 'posts/post_type/posts',
      locals: {
          heading: t('.heading'),
          collection: @collection,
          path_for_new: my_new_blog_post_path,
          allow_new: component_handler.allow_post_type?('blog_post')
      }
  )
%>
