<span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
  <meta itemprop="url" content="<%= request.protocol + request.host_with_port %>"/>
  <meta itemprop="name" content="<%= t('shared.meta_texts.site_name') %>"/>
  <meta itemprop="logo" content="<%= image_url('biovision/post/publisher_logo.svg') %>"/>
</span>
