<span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
  <meta itemprop="url" content="<%= request.protocol + request.host_with_port %>"/>
  <meta itemprop="name" content="<%= t('shared.meta_texts.site_name') %>"/>
  <span itemprop="logo" itemscope itemtype="https://www.schema.org/ImageObject">
    <link itemprop="url" href="<%= image_url('biovision/post/publisher_logo.png') %>">
  </span>
</span>
