<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :breadcrumbs do %>
    <span><%= t('news.index.nav_text') %></span>
<% end %>

<%=
  render(
      partial: 'posts/post_type/posts',
      locals: {
          heading: t('.heading'),
          collection: @collection
      }
  )
%>
