<div><%= link_to(t('.text'), admin_posts_path) %></div>
<div class="description"><%= t('.description') %></div>
<div>
  <%= link_to(t('admin.posts.search.nav_text'), search_admin_posts_path) %>
</div>
