<div class="post-author-preview">
  <figure role="group">
    <%= profile_avatar(entity) %>
    <figcaption><%= author_link(entity) %></figcaption>
  </figure>
  <div class="about">
    <%= simple_format(entity.profile_data['about']) %>
  </div>
</div>
