$block-shadow: .2rem .2rem .4rem .2rem rgba(0, 0, 0, .125) !default;
$border-primary: .1rem solid rgb(192, 192, 192) !default;
$border-secondary: .1rem solid rgb(230, 230, 230) !default;
$text-color-secondary: #777 !default;
$font-size-large: 2rem !default;
$font-size-decreased: 1.2rem !default;
$font-family-heading: serif !default;

$background-post-footer: rgb(248, 248, 248) !default;
$background-post-preview-image: linear-gradient(to top, #f0f0f0, #fff) !default;

.recent-posts {
  .list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.post-preview {
  border-radius: .2rem;
  box-shadow: $block-shadow;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 1rem;
  position: relative;
  max-width: 30rem;
  min-width: 28rem;

  .image {
    background: $background-post-preview-image;
    border-radius: .2rem .2rem 0 0;
    height: 20rem;
    overflow: hidden;
    width: 100%;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .title {
    font: 500 $font-size-large $font-family-heading;
    min-height: 6.4rem;
    padding: .4rem;
  }

  .lead {
    color: $text-color-secondary;
    padding: .4rem;
  }

  .counters {
    margin-top: auto;
    padding: .4rem;
    text-align: right;
  }

  .category {
    padding: .4rem;
  }

  .info {
    align-items: center;
    -webkit-backdrop-filter: blur(.2rem);
    background: rgba(255, 255, 255, .75);
    border-radius: .2rem .2rem 0 0;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    padding: .2rem .4rem;
    position: absolute;
    right: 0;

    time {
      font-size: $font-size-decreased;
      font-style: italic;
      line-height: 2rem;
      margin-left: auto;
    }
  }
}

.view_count {
  background: image_url('biovision/post/icons/view.svg') no-repeat center left / 1.6rem auto;
  margin: 0 .4rem;
  padding-left: 1.8rem;
}

article.post {
  figure {
    border-bottom: $border-secondary;
    margin: 0 auto;
    max-width: 64rem;
    padding: 0 0 .8rem 0;
  }

  figcaption {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
  }

  .image_author {
    color: $text-color-secondary;
    font-size: $font-size-decreased;
    margin-left: auto;
  }

  .body {
    padding: .4rem;
  }

  footer {
    align-items: center;
    background: $background-post-footer;
    display: flex;
    flex-wrap: wrap;
    font-size: $font-size-decreased;
    padding: .8rem;

    .author {
      margin: 0 1.6rem 0 0;
    }

    .author-title {
      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }

    .source {
      color: $text-color-secondary;
      margin-left: auto;
    }

    .time {
      margin: .8rem 0 0 0;
      width: 100%;
    }
  }
}
