<% unless entity.post_category.blank? %>
  <% entity.post_category.parents.each do |parent| %>
    <%= post_category_link(parent) %>
  <% end %>
  <%= post_category_link(entity.post_category) %>
<% end %>
<span><%= entity.title %></span>
