<% content_for :meta_title, t('.title') %>

<article>
  <h1><%= t('.heading') %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_post_path(id: @entity.id)) %></li>
    <li class="danger"><%= destroy_icon(@entity) %></li>
  </ul>

  <%=
    render(
        partial: 'form',
        locals: {
            entity: @entity,
            handler: component_handler
        }
    )
  %>
</article>
