<% content_for :meta_title, @entity.name %>
<% content_for :breadcrumbs do %>
  <span><%= @entity.nav_text %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <%= render partial: 'posts/collection', locals: { collection: @collection } %>
</article>
