<% content_for :meta_description, category.meta_description unless category.meta_description.blank? %>

<article>
  <h1><%= category.name %></h1>

  <%= render partial: 'posts/collection', locals: { collection: collection } %>
</article>
